<div class="card-info" style="display: block;">
    <div class="card-slider">
        <div class="card-slider-one" data-hash="1" style="background-image: url(/tmp/catalog-photo/01.jpg)">
            <a class="card-slider-zoom" href="/tmp/catalog-photo/01.jpg"></a>
            <div class="slider-icons">
                <div class="slider-icon-one">
                    <img src="/tmp/icons/bron.png" alt="">
                    <div class="slider-icon-one__title">Заселяем и поддерживаем</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/clear.png" alt="">
                    <div class="slider-icon-one__title">Исключительно чисто</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/cloth.png" alt="">
                    <div class="slider-icon-one__title">Белье в упаковке</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/parking.png" alt="">
                    <div class="slider-icon-one__title">Охраняемая парковка</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/wifi.png" alt="">
                    <div class="slider-icon-one__title">Работающий Wi-Fi</div>
                </div>
            </div>
        </div>
        <div class="card-slider-one" style="background-image: url(/tmp/catalog-photo/02.jpg)">
            <a class="card-slider-zoom" href="/tmp/catalog-photo/02.jpg"></a>
            <div class="slider-icons">
                <div class="slider-icon-one">
                    <img src="/tmp/icons/bron.png" alt="">
                    <div class="slider-icon-one__title">Заселяем и поддерживаем</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/clear.png" alt="">
                    <div class="slider-icon-one__title">Исключительно чисто</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/cloth.png" alt="">
                    <div class="slider-icon-one__title">Белье в упаковке</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/parking.png" alt="">
                    <div class="slider-icon-one__title">Охраняемая парковка</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/wifi.png" alt="">
                    <div class="slider-icon-one__title">Работающий Wi-Fi</div>
                </div>
            </div>
        </div>
        <div class="card-slider-one" data-hash="2" style="background-image: url(/tmp/catalog-photo/03.jpg)">
            <a class="card-slider-zoom" href="/tmp/catalog-photo/03.jpg"></a>
            <div class="slider-icons">
                <div class="slider-icon-one">
                    <img src="/tmp/icons/bron.png" alt="">
                    <div class="slider-icon-one__title">Заселяем и поддерживаем</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/clear.png" alt="">
                    <div class="slider-icon-one__title">Исключительно чисто</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/cloth.png" alt="">
                    <div class="slider-icon-one__title">Белье в упаковке</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/parking.png" alt="">
                    <div class="slider-icon-one__title">Охраняемая парковка</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/wifi.png" alt="">
                    <div class="slider-icon-one__title">Работающий Wi-Fi</div>
                </div>
            </div>
        </div>
        <div class="card-slider-one" style="background-image: url(/tmp/catalog-photo/04.jpg)">
            <a class="card-slider-zoom" href="/tmp/catalog-photo/04.jpg"></a>
            <div class="slider-icons">
                <div class="slider-icon-one">
                    <img src="/tmp/icons/bron.png" alt="">
                    <div class="slider-icon-one__title">Заселяем и поддерживаем</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/clear.png" alt="">
                    <div class="slider-icon-one__title">Исключительно чисто</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/cloth.png" alt="">
                    <div class="slider-icon-one__title">Белье в упаковке</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/parking.png" alt="">
                    <div class="slider-icon-one__title">Охраняемая парковка</div>
                </div>
                <div class="slider-icon-one">
                    <img src="/tmp/icons/wifi.png" alt="">
                    <div class="slider-icon-one__title">Работающий Wi-Fi</div>
                </div>
            </div>
        </div>
        <div class="card-slider-one" style="background-image: url(/tmp/catalog-photo/05.jpg)">
            <a class="card-slider-zoom" href="/tmp/catalog-photo/05.jpg"></a>
            
        </div>
    </div>
    <div class="wrap">
        <div class="card-info-left">
            <div class="card-descr">
                <p>Светодиодная подсветка, меняющая цвет от нежно-фиолетового до светло-голубого, тонкие ножки прикроватного столика, роскошные ткани и удобная цельная двуспальная кровать - атмосфера этой квартиры располагает к неторопливому отдыху. Устроить романтический ужин на двоих или насладиться комфортом одному - выбирать вам.</p>
                <p>Помимо романтичной обстановки, квартира обладает и другими преимуществами - безлимитный бесплатный Wi-Fi, в каждой комнате по телевизору, на кухне хорошая бытовая техника, большой холодильник, варочная поверхность с вытяжкой, микроволновка и чайник, полный набор посуды. В ванной комнате фигурная ванна на кокетливых стальных ножках, фен и всегда чистые полотенца.</p> 
                <p><b>Обязательное условие:</b> залог 3000 руб. Возвращается при выселении.</p>
            </div>
            <div class="card-param">
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Количество спальных мест —
                    <a href="#1"><i></i>односпальная</a>, <a href="#2"><i></i>двуспальная</a>
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Район — <a href="#">Ленинский</a>
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Микрорайон — <a href="#">Центр</a>
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Класс квартиры — полулюкс
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Способы оплаты — наличные,<br>картой
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Количество комнат — 1
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Количество изолированных комнат — 1
                </div>
                <div class="card-param-line disabled">
                    <i class="card-param-line__icon"></i>
                    Новостройка
                </div>
                <div class="card-param-line disabled">
                    <i class="card-param-line__icon"></i>
                    Опрятный подъезд
                </div>
                <div class="card-param-line disabled">
                    <i class="card-param-line__icon"></i>
                    Охраняемая автостоянка
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Круглосуточное заселение
                </div>
                <div class="card-param-line disabled">
                    <i class="card-param-line__icon"></i>
                    Отчетные документы
                </div>
                <div class="card-param-line disabled">
                    <i class="card-param-line__icon"></i>
                    Почасовое заселение
                </div>
                <div class="card-param-line disabled">
                    <i class="card-param-line__icon"></i>
                    Залог за ключи
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Wi-Fi
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Микроволновка
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Холодильник
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Телевизор
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Электрочайник
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Утюг
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Фен
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Кондиционер
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Джакузи
                </div>
                <div class="card-param-line">
                    <i class="card-param-line__icon"></i>
                    Водонагреватель
                </div>
            </div>
            <div class="card-param-showmore">Показать всё</div>
            <div class="card-param-more">
                <div class="card-param-block">
                    <h3>В КВАРТИРЕ</h3>
                    <p>Комната: двуспальная кровать, угловой двуспальный диван, тумба под телевизор</p>
                    <p>Кухня: кухонный гарнитур, обеденная зона</p>
                    <p>Прихожая: вешалки для верхней одежды, тумба под обувь</p>
                    <p>Мебель</p>
                    <p>Кухонная плита</p>
                    <p class="disabled">Сушилка для белья</p>
                    <p>Гладильная доска</p>
                    <p>DVD-плеер</p>
                    <p>Компьютер</p>
                    <p>Телефон</p>
                    <p>Посудомоечная машина</p>
                    <p>Водяной фильтр</p>
                    <p>Душевая кабина</p>
                    <p>Ванная</p>
                    <p>Сауна</p>
                    <p>Совмещенный санузел</p>
                    <p class="disabled">DVD-плеер</p>
                    <p>Телевизор (ЖК телевизор)</p>
                    <p>Музыкальный центр</p>
                    <p>Игровая приставка</p>
                    <p>Фильмотека</p>
                </div>
                <div class="card-param-block">
                    <h3>УСЛОВИЯ И СЕРВИС</h3>
                    <p class="disabled">Сдается для вечеринок</p>
                    <p class="disabled">Курение разрешено</p>
                    <p class="disabled">Смена белья и полотенец по требованию</p>
                    <p class="disabled">Дополнительная уборка по запросу</p>
                    <p>Уборка перед заселением</p>
                    <p class="disabled">Размещение до 2-х человек</p>
                </div>
                <div class="card-param-block">
                    <h3>ДОМ И ЭТАЖ</h3>
                    <p>Пластиковые окна</p>
                    <p>Новостройка</p>
                    <p>Кабельное телевидение</p>
                    <p>Площадь: 34 м2</p>
                    <p>Этаж: 2/6</p>
                    <p>Балкон</p>
                    <p>Домофон</p>
                    <p>Металлическая дверь</p>
                    <p class="disabled">Лифт</p>
                    <p class="disabled">Консьерж</p>
                    <p>Кирпичный дом</p>
                </div>
                <div class="card-param-block">
                    <h3>КАЖДОМУ ГОСТЮ</h3>
                    <p>Постельное белье</p>
                    <p>Посуда на 4 персоны</p>
                    <p>Средства гигиены</p>
                    <p>Жидкое мыло</p>
                    <p class="disabled">Мыло</p>
                    <p class="disabled">Гель для душа</p>
                    <p class="disabled">Шампунь</p>
                    <p class="disabled">Зубная паста</p>
                </div>
            </div>
            <div class="card-review">
                <div class="card-review__title"><i></i>Отзывы и рейтинг</div>
                <a class="card-review__more" href="#">Все отзывы (134)</a>
                <div class="card-review-slider">
                    <div class="card-review-one">
                        <div class="review-main">
                            Очень хорошо <span>3.8</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list">
                            <div class="rating-list-one">
                                <div class="rating-score">3,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="review-slide">
                            <div class="review-slide__top">Мария · <span>17.06.2014</span></div>
                            <div class="review-slide__text">По чистоте все было хорошо, поставила бы
                            5 баллов. Отзывчивость и приветливость
                            человека, который меня встретил, оценила
                            бы на отлично, 5 баллов. Вот если бы...</div>
                            <a class="review-slide__more" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="card-review-one">
                        <div class="review-main">
                            Очень хорошо <span>4.6</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list">
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="review-slide">
                            <div class="review-slide__top">Мария · <span>17.06.2014</span></div>
                            <div class="review-slide__text">По чистоте все было хорошо, поставила бы
                            5 баллов. Отзывчивость и приветливость
                            человека, который меня встретил, оценила
                            бы на отлично, 5 баллов. Вот если бы...</div>
                            <a class="review-slide__more" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="card-review-one">
                        <div class="review-main">
                            Очень хорошо <span>4.6</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list">
                            <div class="rating-list-one">
                                <div class="rating-score">3,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="review-slide">
                            <div class="review-slide__top">Мария · <span>17.06.2014</span></div>
                            <div class="review-slide__text">По чистоте все было хорошо, поставила бы
                            5 баллов. Отзывчивость и приветливость
                            человека, который меня встретил, оценила
                            бы на отлично, 5 баллов. Вот если бы...</div>
                            <a class="review-slide__more" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-info-right">
            <div id="map-card">
                
            </div>
            <div class="card-nearby">
                <div class="card-nearby-title"><i class="card-nearby__icon"></i>Неподалеку</div>
                <div class="card-nearby-list">
                    <div class="card-nearby-one">
                        <i class="card-nearby-list__icon icon-bus"></i>
                        Остановки: <a href="#">Оперный театр</a>, пр. Ленина
                    </div>
                    <div class="card-nearby-one">
                        <i class="card-nearby-list__icon icon-metro"></i>
                        Метро: <a href="#">Площадь 1905 года</a>
                    </div>
                    <div class="card-nearby-one">
                        <i class="card-nearby-list__icon icon-cafe"></i>
                        Еда: <a href="#">Бельмесы</a>, <a href="#">Поль Бейкери</a>, <a href="#">Хмели-Сунели</a>, <a href="#">Своя Компания</a>
                    </div>
                    <div class="card-nearby-one">
                        <i class="card-nearby-list__icon icon-bus"></i>
                        Транспорт: автобусы, маршрутки
                    </div>
                    <div class="card-nearby-one">
                        <i class="card-nearby-list__icon icon-sport"></i>
                        Развлечения: <a href="#">ТЦ Мода</a>, <a href="#">ТЦ Сити-Центр</a>, <a href="#">Кинотеарт «Салют»</a>, <a href="#">Бар «Гадкий койот»</a>
                    </div>
                    <div class="card-nearby-one">
                        <i class="card-nearby-list__icon icon-shop"></i>
                        Бизнес-центры: <a href="#">Высоцкий</a>, <a href="#">Антей</a>, <a href="#">Манхэттен</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    //= ../other.html
</div>