<div class="information">
<div class="top-hint">
    <div class="wrap">
        <p>Совет: распечатайте эту страницу, на ней собрана разная полезная информация, которая может вам пригодиться.</p>
    </div>
</div>
    <div class="wrap">
        <div id="map-card"></div>
        <div class="information-inn">
            <div class="information-left">
                <div class="information-block">
                    <div class="information-title"><i class="icon-adres"></i>Адрес</div>
                    <p>Центр, Бажова, 68</p>
                    <p>Координаты для GPS: 56.84858,60.601628</p>
                    <p>Ближайшее метро:
                    <ul>
                        <li>Динамо, 170 м</li>
                        <li>Уральская, 1.1 км</li>
                        <li>Площадь 1905 года, 1.4 км</li>
                    </ul>
                    </p>
                </div>
                <div class="information-block">
                    <div class="information-title"><i class="icon-transport"></i>Как добраться</div>
                    <div class="content-tab">
                        <div class="content-tab-menu">
                            <a href="#">Такси</a>
                            <a href="#" class="active">Общественный транспорт</a>
                            <a href="#">Машина</a>
                        </div>
                        <div class="content-tab-list">
                            <div class="content-tab__one">
                                <p>
                                <b>Три Пятерки</b><br>
                                ул. Народной Воли, 69<br>
                                8 (343) 222-35-55<br>
                                24 часа в сутки
                                <p>
                                    <b>Такси Автоград</b><br>
                                    ул. Белинского, д. 222, оф. 2а<br>
                                    8 (343) 272-72-72
                                </p>
                                <p>
                                    <b>НИКА, служба такси</b><br>
                                    ул. Розы Люксембург, 67-б, оф. 211<br>
                                    8 (343) 300-01-01
                                </p>
                            </div>
                            <div class="content-tab__one" style="display: block;">
                                <p>Автобусы: <a href="#">Т25</a>, <a href="">498</a>, <a href="#">102</a></p>
                                <p>Маршрутки: <a href="#">498</a>, <a href="">102</a>, <a href="#">10М</a></p>
                                <p><a href="#">Динамо</a></p>
                                <p><a href="#">Площадь 1905 года</a></p>
                                <p><a href="#">Уральская</a></p>
                            </div>
                            <div class="content-tab__one">
                                <p>Дом расположен на одном из оживленных проспектов города, между Оперным театром и ТЦ «Сити-центр», и имеет все преимущества квартир, расположенных в шаговой доступности от знаковых объектов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-foot"></i>Пешком</div>
                    <p>Дом расположен на одном из оживленных проспектов города, между Оперным театром и ТЦ «Сити-центр», и имеет все преимущества квартир, расположенных в шаговой доступности от знаковых объектов.</p>
                </div>
                <div class="information-block">
                    <div class="information-title"><i class="icon-phone"></i>Полезные телефоны</div>
                    <div class="information-phone">
                        <div class="information-phone__number">* (***) ***-***-*</div>
                        <div class="information-phone__title">Этажи</div>
                        <div class="information-phone__work">Время работы: круглосуточно</div>
                    </div>

                    <div class="information-phone">
                        <div class="information-phone__number">* (***) ***-***-*</div>
                        <div class="information-phone__title">Владелец квартиры</div>
                        <div class="information-phone__work">Время работы: с 8:00 до 22:00, любой день недели</div>
                    </div>
                    <div class="information-phone">
                        <div class="information-phone__number">* (***) ***-***-*</div>
                        <div class="information-phone__title">Химчистка</div>
                        <div class="information-phone__work">Время работы: с 8:00 до 22:00, любой день недели</div>
                    </div>
                    <div class="information-phone">
                        <div class="information-phone__number">* (***) ***-***-*</div>
                        <div class="information-phone__title">Такси</div>
                        <div class="information-phone__work">Время работы: круглосуточно</div>
                    </div>
                </div>
            </div>
            <div class="information-right">
                <div class="information-block">
                    <div class="information-title"><i class="icon-transport"></i>Неподалеку</div>
                    <p class="under-spoler">Дом расположен на одном из оживленных проспектов города, между Оперным театром и ТЦ «Сити-центр», и имеет все преимущества квартир, расположенных в шаговой доступности от знаковых объектов.</p>
                    <div class="card-param-showmore">Показать всё</div>
                    <div class="" style="display: none;">
                        <p>Если вам нужно иметь возможность максимально быстро добираться до любой точки города, то выбор данной квартиры решит для вас эту проблему. Транспортная развязка возле квартиры позволяет вам доехать до любой точки города без каких-
                        либо пересадок.</p>
                        <p>Помимо этого, в шаговой доступности находится несколько бизнес-центров, таких как «Антей», «Высоцкий», «Манхэттен». Если у вас назначены деловые встречи, вы без проблем доберетесь до нужного центра и не будете тратить время на дорогу.</p>
                        <p>Если вы хотите устроить романтический ужин или семейный ужин, огромное количество кафе, ресторанов позволят вам весело отдохнуть и вкусно покушать.Помимо этого, неподалеку есть различные торговые центры, где вы сможете развлечься с вашими детьми.</p>
                        <p>В 15-минутах ходьбы находится самый центр города – Площадь 1905 года, а также любимое место отдыха и прогулок горожан – «Плотинка». Гуляя вдоль реки, вы сможете отдохнуть от городской суеты, насладиться свежим воздухом и прекрасным
                        видом, который открывается по всему берегу.</p>
                        <p>Помимо этого, если вы соберетесь погулять вдоль реки, обязательно зайдите в Храм на крови – место расстрела царской семьи Николая II – одна из важнейших достопримечательностей города. Там вы сможете заказать экскурсию и узнать множество исторических фактов событий того времени.</p>
                        <p>Выбор квартиры в центре – самый лучший выбор для вас!</p>
                    </div>
                </div>
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-bus"></i>Остановки</div>
                    <div class="information-col">
                        <a href="#">Оперный театр</a>
                        <p>Бажова, 68</p>
                        <p>Как добраться: Как упоителен, как
                        роскошен летний день в Малороссии!
                        Как томительно жарки те часы, когда
                        полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">пр. Ленина</a>
                        <p>Библиотечная, 45</p>
                        <p>Как добраться: Как упоителен,
                        как роскошен летний день
                        в Малороссии! Как томительно
                        жарки те часы, когда полдень блещет.</p>
                    </div>
                </div>
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-metro"></i>Метро</div>
                    <p><a href="#">Динамо</a></p>
                    <p><a href="#">Площадь 1905 года</a></p>
                    <p><a href="#">Уральская</a></p>
                </div>
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-bus"></i>Транспорт</div>
                    <p>Автобусы: <a href="#">Т25</a>, <a href="">498</a>, <a href="#">102</a></p>
                    <p>Маршрутки: <a href="#">498</a>, <a href="">102</a>, <a href="#">10М</a></p>
                </div>
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-cafe"></i>Еда</div>
                    <p>Бельмесы, Поль Бейкери, Хмели-Сунели, Своя Компания.</p>
                </div>
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-sport"></i>Развлечения</div>
                    <div class="information-col">
                        <a href="#">ТЦ Мода</a>
                        <p>Бажова, 68</p>
                        <p>Как добраться: Как упоителен, как
                        роскошен летний день в Малороссии!
                        Как томительно жарки те часы, когда
                        полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">ТЦ Сити-Центр</a>
                        <p>Библиотечная, 45</p>
                        <p>Как добраться: Как упоителен,
                        как роскошен летний день
                        в Малороссии! Как томительно
                        жарки те часы, когда полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">Оперный театр</a>
                        <p>Бажова, 68</p>
                        <p>Как добраться: Как упоителен, как
                        роскошен летний день в Малороссии!
                        Как томительно жарки те часы, когда
                        полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">Кинотеарт «Салют»</a>
                        <p>Библиотечная, 45</p>
                        <p>Как добраться: Как упоителен,
                        как роскошен летний день
                        в Малороссии! Как томительно
                        жарки те часы, когда полдень блещет.</p>
                    </div>
                </div>
                <div class="information-block">
                    <div class="information-subtitle"><i class="icon-shop"></i>Бизнес-центры</div>
                    <div class="information-col">
                        <a href="#">ТЦ Мода</a>
                        <p>Бажова, 68</p>
                        <p>Как добраться: Как упоителен, как
                        роскошен летний день в Малороссии!
                        Как томительно жарки те часы, когда
                        полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">ТЦ Сити-Центр</a>
                        <p>Библиотечная, 45</p>
                        <p>Как добраться: Как упоителен,
                        как роскошен летний день
                        в Малороссии! Как томительно
                        жарки те часы, когда полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">Оперный театр</a>
                        <p>Бажова, 68</p>
                        <p>Как добраться: Как упоителен, как
                        роскошен летний день в Малороссии!
                        Как томительно жарки те часы, когда
                        полдень блещет.</p>
                    </div>
                    <div class="information-col">
                        <a href="#">Кинотеарт «Салют»</a>
                        <p>Библиотечная, 45</p>
                        <p>Как добраться: Как упоителен,
                        как роскошен летний день
                        в Малороссии! Как томительно
                        жарки те часы, когда полдень блещет.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>