<div class="recall">
    <div class="wrap">
        <div class="review-top">
            <div class="review-top-main">
                <div class="review-main__score">4,3</div>
                <div class="review-main__title">
                    Очень хорошо<br>
                    по 134 отзывам
                </div>
            </div>
            <div class="rating-list-one rating-list--top">
                    <div class="rating-score">3,0</div>
                    <div class="rating-score__title">ЧИСТОТА</div>
                    <div class="rating-score__graph">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
            </div>
            <div class="rating-list-one rating-list--top">
                    <div class="rating-score">5,0</div>
                    <div class="rating-score__title">ПРИВЕТЛИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                    <div class="rating-score__graph">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                     </div>
            </div>
            <div class="rating-list-one rating-list--top">
                    <div class="rating-score">4,0</div>
                    <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                    <div class="rating-score__graph">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
            </div>
        </div>

        <div class="review-list">
            <div class="review-one">
                <div class="review-one__title">Мария <span>рекомендует эту квартиру</span> · 17.06.2014</div>
                <div class="review-one-inn">
                    <div class="review-one-rating">
                        <div class="review-main">
                            Очень хорошо <span>4.6</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list rating-list--reviev">
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-one__text">
                        По чистоте все было хорошо, поставила бы 5 баллов. Отзывчивость и приветливость человека, который меня встретил, оценила бы на отлично, 5 баллов. Вот если бы центр поставить музыкальный, то оснащенность квартиры предметами техники и быта, вообще бы нормально было. Данную квартиру порекомендовала бы своим знакомым.
                    </div>
                </div>
                <div class="review-poll">
                    <div class="review-poll__title">Комментарий был полезен?</div>
                    <button class="review-poll__button">Да</button> 
                    <button class="review-poll__button">Нет</button>
                </div>
            </div>
            <div class="review-one">
                <div class="review-one__title">Мария <span>рекомендует эту квартиру</span> · 17.06.2014</div>
                <div class="review-one-inn">
                    <div class="review-one-rating">
                        <div class="review-main">
                            Очень хорошо <span>3.8</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list rating-list--reviev">
                            <div class="rating-list-one">
                                <div class="rating-score">3,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-one__text">
                        По чистоте все было хорошо, поставила бы 5 баллов. Отзывчивость и приветливость человека, который меня встретил, оценила бы на отлично, 5 баллов. Вот если бы центр поставить музыкальный, то оснащенность квартиры предметами техники и быта, вообще бы нормально было. Данную квартиру порекомендовала бы своим знакомым.
                    </div>
                </div>
                <div class="review-poll">
                    <div class="review-poll__title">Комментарий был полезен? </div>
                    <button class="review-poll__button">Да</button> 
                    <button class="review-poll__button">Нет</button>
                </div>
            </div>
            <div class="review-one">
                <div class="review-one__title">Мария <span>рекомендует эту квартиру</span> · 17.06.2014</div>
                <div class="review-one-inn">
                    <div class="review-one-rating">
                        <div class="review-main">
                            Очень хорошо <span>4.6</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list rating-list--reviev">
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-one__text">
                        По чистоте все было хорошо, поставила бы 5 баллов. Отзывчивость и приветливость человека, который меня встретил, оценила бы на отлично, 5 баллов. Вот если бы центр поставить музыкальный, то оснащенность квартиры предметами техники и быта, вообще бы нормально было. Данную квартиру порекомендовала бы своим знакомым.
                    </div>
                </div>
                <div class="review-poll">
                    <div class="review-poll__title">Комментарий был полезен?</div>
                    <button class="review-poll__button">Да</button> 
                    <button class="review-poll__button">Нет</button>
                </div>
            </div>
            <div class="review-one">
                <div class="review-one__title">Мария <span>рекомендует эту квартиру</span> · 17.06.2014</div>
                <div class="review-one-inn">
                    <div class="review-one-rating">
                        <div class="review-main">
                            Очень хорошо <span>3.8</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list rating-list--reviev">
                            <div class="rating-list-one">
                                <div class="rating-score">3,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-one__text">
                        По чистоте все было хорошо, поставила бы 5 баллов. Отзывчивость и приветливость человека, который меня встретил, оценила бы на отлично, 5 баллов. Вот если бы центр поставить музыкальный, то оснащенность квартиры предметами техники и быта, вообще бы нормально было. Данную квартиру порекомендовала бы своим знакомым.
                    </div>
                </div>
                <div class="review-poll">
                    <div class="review-poll__title">Комментарий был полезен? </div>
                    <button class="review-poll__button">Да</button> 
                    <button class="review-poll__button">Нет</button>
                </div>
            </div>
            <div class="review-one">
                <div class="review-one__title">Мария <span>рекомендует эту квартиру</span> · 17.06.2014</div>
                <div class="review-one-inn">
                    <div class="review-one-rating">
                        <div class="review-main">
                            Очень хорошо <span>4.6</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list rating-list--reviev">
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-one__text">
                        По чистоте все было хорошо, поставила бы 5 баллов. Отзывчивость и приветливость человека, который меня встретил, оценила бы на отлично, 5 баллов. Вот если бы центр поставить музыкальный, то оснащенность квартиры предметами техники и быта, вообще бы нормально было. Данную квартиру порекомендовала бы своим знакомым.
                    </div>
                </div>
                <div class="review-poll">
                    <div class="review-poll__title">Комментарий был полезен?</div>
                    <button class="review-poll__button">Да</button> 
                    <button class="review-poll__button">Нет</button>
                </div>
            </div>
            <div class="review-one">
                <div class="review-one__title">Мария <span>рекомендует эту квартиру</span> · 17.06.2014</div>
                <div class="review-one-inn">
                    <div class="review-one-rating">
                        <div class="review-main">
                            Очень хорошо <span>3.8</span>
                            <div class="review-main-graph">
                                <div class="review-main-graph__active"></div>
                            </div>
                        </div>
                        <div class="rating-list rating-list--reviev">
                            <div class="rating-list-one">
                                <div class="rating-score">3,0</div>
                                <div class="rating-score__title">ЧИСТОТА</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">5,0</div>
                                <div class="rating-score__title">ПРИВЕТЛИВОСТЬ И ОТЗЫВЧИВОСТЬ ВСТРЕЧАЮЩЕГО</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                            <div class="rating-list-one">
                                <div class="rating-score">4,0</div>
                                <div class="rating-score__title">ОСНАЩЕНИЕ</div>
                                <div class="rating-score__graph">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-one__text">
                        По чистоте все было хорошо, поставила бы 5 баллов. Отзывчивость и приветливость человека, который меня встретил, оценила бы на отлично, 5 баллов. Вот если бы центр поставить музыкальный, то оснащенность квартиры предметами техники и быта, вообще бы нормально было. Данную квартиру порекомендовала бы своим знакомым.
                    </div>
                </div>
                <div class="review-poll">
                    <div class="review-poll__title">Комментарий был полезен? </div>
                    <button class="review-poll__button">Да</button> 
                    <button class="review-poll__button">Нет</button>
                </div>
            </div>
        </div>

        <div class="catalog-bottom">
            <div class="catalog-more">Показать еще 20 отзывов</div>
            
            <div class="pagination">
                Страницы:
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">следующая</a>
                <a href="#">Показать все</a>
            </div>

            <div class="district-list">
                Квартиры по районам Екатеринбурга:
                <a href="#">Центр</a>
                <a href="#">Автовокзал</a>
                <a href="#">Ботаника</a>
                <a href="#">ВИЗ</a>
                <a href="#">Вторчермет</a>
                <a href="#">ЖБИ</a>
                <a href="#">Заречный</a>
                <a href="#">Кировский</a>
                <a href="#">Пионерский</a>
                <a href="#">Уралмаш</a>
                <a href="#">Химмаш</a>
                <a href="#">Эльмаш</a>
                <a href="#">Юго-Запад</a>
                <a href="#">Сортировка</a>
                <a href="#">Кольцово</a>
            </div>
        </div>
    </div>
</div>