<div class="wrap">
    <div class="text">
        <div class="text-left">
            <h2>Оплата за проживание по звонку — это реальность!</h2>
            <p>Компания «Этажи» расширяет возможности оплаты брони и предлагает новый способ
            — через оператора компании. Теперь Вы можете просто позвонить в Контакт-центр
            компании «Этажи» по телефону +7 (343) 222-777-0, забронировать квартиру и сразу
            оплатить ее своей картой.</p>
            <h2>Как забронировать квартиру?</h2>
            <p>Через наш сайт www.etazhy.ru, каждая квартира снабжена функционалом для ее
            предварительного бронирования на определенные даты. После отправки вами заявки
            на бронь для подтверждения бронирования выбранной квартиры с вами свяжется наш
            менеджер.</p>
            <ul>
                <li>Через сервисы на сайте: ICQ, Skype, e-mail, онлайн-консультант, обратный звонок.
                Вы можете сообщить ID понравившейся вам квартиры или ссылку на нее и наш
                менеджер свяжется с вами для подтверждения брони.</li>
                <li>Через прямой звонок в наш контакт-центр по номеру
                +7 (343) 222-777-0, вам необходимо будет сообщить даты проживания, район или ID
                квартиры, и наш менеджер подберет для вас самый удобный вариант.</li>
            </ul>
            <h2>Как оплатить забронированную квартиру он-лайн?</h2>
            <p>Наш сайт подключен к интернет-эквайрингу и Вы можете оплатить стоимость
            проживания банковской картой VISA или Mastercard.</p>
            <ul>
                <li>Если Вы хотите произвести оплату брони он-лайн, то после подтверждения
                бронирования квартиры вы будете перенаправлены на специалиста, принимающего
                он-лайн платежи.</li>
                <li>Приготовьте банковскую карту для оплаты Вашего бронирования. Вам понадобятся:
                номер банковской карты, дата окончания действия карты.</li>
                <li>Далее следуйте инструкциям оператора.</li>
            </ul>
            <p>Возврат денег при отказе от услуги производится в соответствии с законом «О защите
            прав потребителей».</p>
            <p>«Статья 32. Право потребителя на отказ от исполнения договора о выполнении работ
            (оказании услуг).</p>
            <p>Потребитель вправе отказаться от исполнения договора о выполнении работ (оказании
            услуг) в любое время при условии оплаты исполнителю фактически понесенных им
            расходов, связанных с исполнением обязательств по данному договору.»</p>
            <h2>Правила заселения</h2>
            <p>Заселение и выселение в квартиры осуществляется круглосуточно администраторами
            компании «Этажи», а также собственниками квартир, вся контактная информация по
            забронированной квартире отправляется в виде смс сообщения.</p>
            <h2>Конфиденциальность</h2>
            <p>Политика конфиденциальности компании действует согласно Федеральному закону
            РФ No 152-ФЗ «О персональных данных» — федеральный закон, регулирующий
            деятельность по обработке (использованию) персональных данных.</p>
        </div>
        <div class="text-right">
            <h2>Определения</h2>
            <p>Интернет проект www.etazhy.ru (далее – , «мы») серьезно относится
            к вопросу конфиденциальности информации своих клиентов и
            посетителей сайта www.etazhy.ru (далее – «вы», «посетители сайта»).</p>
            <p>Персонифицированной мы называем информацию, содержащую
            персональные данные (например: ФИО, логин или название
            компании) посетителя сайта, а также информацию о действиях,
            совершаемых вами на сайте <a href="#">www.etazhy.ru</a>. (например: заказ посетителя сайта с его
            контактной информацией).</p>
            <p>Анонимными мы называем данные, которые невозможно однозначно
            идентифицировать с конкретным посетителем сайта (например:
            статистика посещаемости сайта; данные о количестве обработанных
            <a href="#">www.etazhy.ru</a> запросов о брони клиентов без указания информации
            об авторах запросов).</p>
            <h2>Использование информации</h2>
            <p>Мы используем персонифицированную информацию конкретного
            посетителя сайта исключитель</p>но для обеспечения ему качественного
            оказания услуг и их учета.
            <p>Мы не раскрываем персонифицированных данных одних посетителей
            сайта www.etazhy.ru другим посетителям сайта.</p>
            <p>Мы никогда не публикуем персонифицированную информацию в
            открытом доступе и не передаем ее третьим лицам Исключением
            являются лишь ситуации, когда предоставление такой информации
            уполномоченным государственным органам предписано
            действующим законодательством Российской Федерации.</p>
            <p>Мы публикуем и распространяем только отчеты, построенные
            на основании собранных анонимных данных. При этом отчеты
            не содержат информацию, по которой было бы возможным
            идентифицировать персонифицированные данные пользователей
            услуг.</p>
            <p>Мы также используем анонимные данные для внутреннего анализа,
            целью которого является развитие продуктов и услуг <a href="#">www.etazhy.ru</a></p>
            <h2>Ссылки</h2>
            <p>Сайт <a href="#">www.etazhy.ru</a> может содержать ссылки на другие сайты,
            не имеющие отношения к нашей компании и принадлежащие
            третьим лицам. Мы не несем ответственности за точность, полноту
            и достоверность сведений, размещенных на сайтах третьих
            лиц, и не берем на себя никаких обязательств по сохранению
            конфиденциальности информации, оставленной вами на таких сайтах.</p>
            <h2>Ограничение ответственности</h2>
            <p>Мы делаем все возможное для соблюдения настоящей политики
            конфиденциальности, однако, мы не можем гарантировать
            сохранность информации в случае воздействия факторов находящихся
            вне нашего влияния, результатом действия которых станет раскрытие
            информации.</p>
            <p>Сайт <a href="#">www.etazhy.ru</a> и вся размещенная на нем информация
            представлены по принципу «как есть» без каких-либо гарантий. Мы
            не несем ответственности за неблагоприятные последствия, а также за
            любые убытки, причиненные вследствие ограничения доступа к сайту
            www.etazhy.ru или вследствие посещения сайта и использования
            размещенной на нем информации.</p>
            <p>По вопросам, касающимся настоящей политики, просьба обращаться
            по адресу info@etazhy.ru.</p>
            <h2>Контакты</h2>
            <p>ИП Копылов Кирилл Евгеньевич</p>
            <p>ИНН 665809740355</p>
            <p>ОГРН 306967002300021</p>
            <p>ОАО «УБРИР», в г. Екатеринбург БИК 046577795</p>
            <p>К/С 30101810900000000795 Р/С 40802810762160001690</p>
            <p>Юрид.адрес: 620078, г. Екатеринбург, ул. Педагогическая, д. 6, кв. 23</p>
            <p>Почтовый адрес (фактический): 620075, г. Екатеринбург, ул. Радищева,
            д. 6 а, оф. 2705</p>
            <p>тел. 222-777-0, 228-38-12, факс 262-89-27.</p>
        </div>
    </div>
</div>