<div class="calendar">
		<div class="calendar-top">
			<div class="calendar-top__one">пн</div>
			<div class="calendar-top__one">вт</div>
			<div class="calendar-top__one">ср</div>
			<div class="calendar-top__one">чт</div>
			<div class="calendar-top__one">пт</div>
			<div class="calendar-top__one">сб</div>
			<div class="calendar-top__one">вс</div>
		</div>
		<div class="calendar-body">
			<div class="calendar-one disabled">29</div>
			<div class="calendar-one disabled">30</div>
			<div class="calendar-one disabled">1</div>
			<div class="calendar-one disabled">2</div>
			<div class="calendar-one disabled">3</div>
			<div class="calendar-one disabled">4</div>
			<div class="calendar-one disabled">5</div>
			<div class="calendar-one disabled">6</div>
			<div class="calendar-one disabled">7</div>
			<div class="calendar-one disabled">8</div>
			<div class="calendar-one today" data-date="9.04.2017" data-price="3000">
				9
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="10.04.2017" data-price="3000">
				10
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="11.04.2017" data-price="3000">
				11
				<div class="calendar-one-inn free">
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one">
				12
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one">
				13
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one">
				14
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one">
				15
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one" data-date="16.04.2017" data-price="3000">
				16
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="17.04.2017" data-price="3000">
				17
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="18.04.2017" data-price="3000">
				18
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one">
				19
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one" data-date="20.04.2017" data-price="3000">
				20
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="21.04.2017" data-price="3000">
				21
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="22.04.2017" data-price="3000">
				22
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="23.04.2017" data-price="3000">
				23
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="24.04.2017" data-price="3000">
				24
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="25.04.2017" data-price="3000">
				25
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="26.04.2017" data-price="3000">
				26
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one">
				27
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one" data-date="28.04.2017" data-price="3000">
				28
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one">
				29
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one" data-date="9.04.2017" data-price="3000">
				30
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="31.04.2017" data-price="3000">
				31
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="1.05.2017" data-price="3000">
				1
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one" data-date="2.05.2017" data-price="3000">
				2
				<div class="calendar-one-inn free">
	    			<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
	    		</div>
			</div>
			<div class="calendar-one">
				3
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one">
				4
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one">
				5
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one">
				6
				<div class="calendar-one-inn busy"></div>
			</div>
			<div class="calendar-one" data-date="7.05.2017" data-price="3000">
				7
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="8.05.2017" data-price="3000">
				8
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
			<div class="calendar-one" data-date="9.05.2017" data-price="3000">
				9
				<div class="calendar-one-inn special">
					<div class="calendar-one__old-price">6 000</div>
					<div class="calendar-one__price">3 000</div>
					<div class="calendar-one__day">руб./сутки</div>
				</div>
			</div>
		</div>
</div>
