<div class="catalog">
    <div class="catalog-tag">
        
    </div>
    <div class="catalog-filtr">
        <label for="">Показывать по:</label>
        <div class="select">
            <input type="text" name="show">
            <div class="select-list">
                <div class="select-list__one">Рекомендации</div>
                <div class="select-list__one">Сначала дорогие</div>
                <div class="select-list__one">Сначала дешевые</div>
            </div>
        </div>
    </div>
    <div class="catalog-list">
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one__special">2 000 руб./сутки с 12.09 по 15.09</div>
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__busy">Занято</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#"  class="catalog-one-info__photo ajax_modal">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">1 комната &#8901; <i class="sprite-bad"></i> + <i class="sprite-bad2"></i></div>

                    <div class="catalog-one__price">
                        <div class="catalog-one__old-price">2 500 руб./сутки</div>
                        2 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="catalog-one__recomend" href="#">Этажи. Свои квартиры</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <div class="catalog-one__bestprice"><span>Лучшая цена</span> в интернете</div>
            <a href="#booking" class="catalog-one__booking open_modal">Забронировать</a>
        </div>
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one__special">5 000 руб./сутки с 12.09 по 15.09</div>
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo ajax_modal">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">2 комнаты &#8901; <i class="sprite-bad2"></i> + <i class="sprite-bad2"></i></div>

                    <div class="catalog-one__price">
                        <div class="catalog-one__old-price">5 500 руб./сутки</div>
                        5 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="catalog-one__recomend" href="#">Этажи. Свои квартиры</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <a href="#booking" class="catalog-one__booking open_modal">Забронировать</a>
        </div>
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo ajax_modal">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">1 комната &#8901; <i class="sprite-bad"></i> + <i class="sprite-bad"></i></div>

                    <div class="catalog-one__price">
                        2 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="catalog-one__recomend" href="#">Этажи. Свои квартиры</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <div class="catalog-one__bestprice"><span>Лучшая цена</span> в интернете</div>
            <a href="#booking" class="catalog-one__booking open_modal">Забронировать</a>
        </div>
        <div class="catalog-one"  data-id="4545">
            <div class="catalog-one__special">2 000 руб./сутки с 12.09 по 15.09</div>
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">1 комната &#8901; <i class="sprite-bad"></i> + <i class="sprite-bad2"></i></div>

                    <div class="catalog-one__price">
                        <div class="catalog-one__old-price">2 500 руб./сутки</div>
                        2 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="catalog-one__recomend" href="#">Этажи. Свои квартиры</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <div class="catalog-one__bestprice"><span>Лучшая цена</span> в интернете</div>
            <a href="#booking" class="catalog-one__booking open_modal">Забронировать</a>
        </div>
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one__special">5 000 руб./сутки с 12.09 по 15.09</div>
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">2 комнаты &#8901; <i class="sprite-bad2"></i> + <i class="sprite-bad2"></i></div>

                    <div class="catalog-one__price">
                        <div class="catalog-one__old-price">5 500 руб./сутки</div>
                        5 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="catalog-one__recomend" href="#">Этажи. Свои квартиры</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <a href="#booking" class="catalog-one__booking open_modal">Забронировать</a>
        </div>
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">1 комната &#8901; <i class="sprite-bad"></i> + <i class="sprite-bad"></i></div>

                    <div class="catalog-one__price">
                        2 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="catalog-one__recomend" href="#">Этажи. Свои квартиры</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <div class="catalog-one__bestprice"><span>Лучшая цена</span> в интернете</div>
            <a href="#booking" class="catalog-one__booking open_modal">Забронировать</a>
        </div>
    </div>

    <div class="catalog-bottom">
        <div class="catalog-more">Показать еще 20 вариантов</div>
        
        <div class="pagination">
            Страницы:
            <span>1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">следующая</a>
            <a href="#">Показать все</a>
        </div>

        <div class="district-list">
            Квартиры по районам Екатеринбурга:
            <a href="#">Центр</a>
            <a href="#">Автовокзал</a>
            <a href="#">Ботаника</a>
            <a href="#">ВИЗ</a>
            <a href="#">Вторчермет</a>
            <a href="#">ЖБИ</a>
            <a href="#">Заречный</a>
            <a href="#">Кировский</a>
            <a href="#">Пионерский</a>
            <a href="#">Уралмаш</a>
            <a href="#">Химмаш</a>
            <a href="#">Эльмаш</a>
            <a href="#">Юго-Запад</a>
            <a href="#">Сортировка</a>
            <a href="#">Кольцово</a>
        </div>
    </div>
</div>