<div class="footer">
    <div class="wrap clearfix">
        <div class="footer-side">
            <div class="footer-side-contact">
                <div class="footer-side-contact__top">круглосуточно</div>
                <div class="footer-side-contact__phone">(343) 222-777-0</div>
                <a href="#order" class="open_modal">заказать обратный звонок...</a>
            </div>
            <div class="footer-side__menu">
                <a href="#">О проекте</a>
                <a href="#">Владельцам квартир</a>
                <a href="#">Корпоративным клиентам</a>
                <a href="#">Контакты</a>
            </div>
            <div class="footer-side__line">© 2009-2017 — Этажи.ру</div>
            <div class="footer-side__line">Электронная почта: <a href="#">info@etazhy.ru</a></div>
            <div class="footer-side__line">Верстка и программирование сайта —
            «Софтмажор», 20017</div>
            <div class="footer-side__line">Использование редакционных материалов разрешается при обязательной установке активной гиперссылки на сайт www.etazhy.ru рядом с опубликованным материалом.</div>
            <div class="footer-side__line">Пиктограммы на страницах квартир — <a href="#">icons8.com</a></div>
        </div>
        <div class="footer-content">
            <h2>Аренда квартир посуточно</h2>

            <p>Современный мир развивается стремительными темпами, а это значит, что человек должен становиться более мобильным. Командировки в разные города перестали быть редкостью для людей самых различных отраслей бизнеса. В связи с этим проблема проживания в чужом городе становится все актуальнее. Отличная альтернатива пребыванию в гостинице — аренда квартир посуточно в Екатеринбурге.</p>

            <h4>Снять квартиру на сутки в Екатеринбурге от сервиса «Этажи»</h4>
            <p>Аренда съемных квартир на сутки через сервис «Этажи» имеет ряд преимуществ, часть из которых не имеют даже двух, трехзвездочные или более комфортабельные гостиницы:</p>

            <ul>
                <li>Разница в стоимости: можно снимать квартиры посуточно недорого по сравнению с аналогичными гостиничными номерами.</li>
                <li>Высокий уровень комфорта: вы всегда можете снять на сутки квартиру с авторским дизайном, всей необходимой мебелью, бытовой техникой, средствами личной гигиены, кондиционером и пр.</li>
                <li>Посуточная сдача квартир не уступает гостиничной сфере по надежности — в качестве посредника выступает известная надежная компания.</li>
                <li>Перед тем как снять квартиру на сутки, на карте всегда можно посмотреть, удобно ли она расположена в городе.</li>
                <li>Предварительно можно посмотреть фото квартир  на сутки и выбрать подходящий вариант.</li>
            </ul>

            <p></p>Мы предоставляем как элитные, так и дешевые квартиры посуточно в Екатеринбурге на разных этажах и разной планировки. Может быть арендована большая квартира посуточно для нескольких человек или поменьше для одного гостя, и это обойдется дешевле, чем в гостинице. Могут быть подобраны разные нестандартные варианты, например, квартира-студия на сутки с планировкой, которая просто отсутствует среди гостиничных номеров.</p>
            <p>По приезду в город вас может встретить доброжелательный сотрудник фирмы и проводить к указанному месту. Так Вы быстрее освоитесь в незнакомом городе. Квартира на сутки в Екатеринбурге от сервиса «Этажи» — это удобно, практично и недорого.</p>
        </div>
        
    </div>
</div>