<div class="head">
    <div class="head-top">
        <div class="wrap">
            <a href="#">Екатеринбург</a>
            <a href="#" class="show-number"><i class="icon-number"></i>Показать квартиру по номеру...</a>
            <a href="#">О проекте</a>
            <a href="#">Владельцам квартир</a>
            <a href="#">Корпоративным клиентам</a>
            <a href="#">Контакты</a>
        </div>
    </div>

    <div class="head-middle">
        <div class="wrap">
            <a href="#" class="head-logo">
                    <img src="/img/logo.png" alt="">
            </a>
            <div class="head-middle-one">
                <div class="apartment-quantity">703</div>
                <div class="apartment-text">квартиры посуточно<br>в Екатеринбурге</div>
            </div>
            <div class="head-middle-one">
                <div class="head-contact__top">круглосуточно</div>
                <div class="head-contact__phone">(343) 222-777-0</div>
                <a href="#order" class="open_modal head-contact__order">заказать обратный звонок...</a>
            </div>
            <div class="head-middle-one head-middle-one--contact">
                <a href="#contact" class="open_modal contact-us">Связь с нами:</a>
                <div class="contact-ico">
                    <a href="#" class="contact-ico__icq">icq</a>
                    <a href="#" class="contact-ico__skype">Skype</a>
                    <a href="#" class="contact-ico__email">E-mail</a>
                    <a href="#" class="contact-ico__whats">Whatsapp</a>
                    <a href="#" class="contact-ico__viber">Viber</a>
                    <a href="#" class="contact-ico__telegram">Telegram</a>
                </div>
            </div>
        </div>
    </div>

    <div class="head-bottom">
        <div class="wrap">
            <div class="head-bottom-menu">
                <a href="#" class="current">Каталог<sup>23/703</sup></a>
                <a href="#">Свободные сегодня<sup>396</sup></a>
                <a href="#"><span>%</span> Спецпредложения<sup>29</sup></a>
                <a href="#"><i class="etazji-sm"></i>Этажи. Свои квартиры<sup>29</sup></a>
            </div>
        </div>
    </div>

</div>