<div id="overlay">
	<div class="modal modal-sm" id="order">
		<div class="order__inn">
			<div class="order-left">
				<div class="order-left__top">По какому номеру вам перезвонить?</div>
				<div class="order-left__bottom">Мы работаем<br>24 часа в сутки</div>
			</div>
			<div class="order-right">
				<form action="" id="order">
					<div class="modal-line">
						<label for="">Телефон</label>
						<input type="text" name="phone" placeholder="+7(___) ___-__-__">
					</div>
					<div class="modal-line">
						<label for="">Ваше имя</label>
						<input type="text" name="name">
					</div>
					<div class="modal-line modal-line--right">
						<button type="submit" class="modal-button">ОК</button>
					</div>
				</form>
			</div>
			<div class="modal__close"></div>

		</div>
	</div>

	<div class="modal modal-sm" id="contact">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="order-left">
				<div class="order-left__top" style="margin-top: 25px;">Мы всегда рады вас услышать</div>
			</div>
			<div class="order-right">
				<div class="contact__label">ICQ</div>
				<a class="contact__link" href="#">666572485</a>
				<div class="contact__label">Skype</div>
				<a class="contact__link" href="#">etazji-consultant</a>
				<div class="contact__label">E-mail</div>
				<a class="contact__link" href="#">info@etazhy.ru</a>
			</div>
			<div class="modal__close"></div>
		</div>
	</div>

	<div class="modal" id="ajax-photo">
		<div class="order__inn">
		</div>
	</div>

	<div class="modal" id="booking">
		<div class="order__inn">
			<div class="booking-top">
				<div class="booking-top-left">
					<div class="booking-date date-range">
						<div class="filtr-date">Выберете дату заселения</div>
						<div class="calendar-box">
	                        <div class="calendar-box-top">
	                            <div class="calendar-box-col">
	                                <span>Период заселения</span>
	                            </div>
	                            <div class="calendar-box-col">
	                                <label for="">С:</label>
	                                <input name="m-startDate">
	                            </div>
	                            <div class="calendar-box-col">
	                                <span>—</span>
	                            </div>
	                            <div class="calendar-box-col">
	                                <label for="">ПО:</label>
	                                <input name="m-endDate">
	                            </div>
	                        </div>
	                        <div class="calendar-box-middle"></div>
	                        <div id="m-date_range"></div>
	                        <div class="calendar-box-bottom">
	                            <div class="calendar-bottom-col">
	                                Заселение: 
	                            </div>
	                            <div class="calendar-bottom-col">
	                                <input id="m-calendar-day" type="checkbox">
	                                <label for="m-calendar-day">Круглосуточно</label>
	                            </div>
	                            <div class="calendar-bottom-col">
	                                <input id="m-calendar-hour" type="checkbox">
	                                <label for="m-calendar-hour">Почасовое</label>
	                            </div>
	                            <div class="calendar-result">
	                                <div class="calendar-result__days"><span>12</span> дней</div>
	                                <button class="m-setDate">ОК</button>
	                            </div>  
	                        </div>
	                    </div>
					</div>
					<div class="booking-top__descr">
						<i class="icon-font"></i>
						Заселение в 15:00<br>
						выселение в 13:00 следующего дня.
					</div>
				</div>
				<div class="booking-top-right">
					<button class="booking-button">
						<div class="booking-button__price" style="display: none;"><span class="booking-price">18 000</span> руб./ <span class="booking-days">3</span> суток</div>
						<div class="booking-button__text">Забронировать</div>
					</button>
					<div class="other-price">
						<div class="other-price__top">
							На <a href="#">других сайтах</a> от 18 900 руб./3 суток
						</div>
						<div class="other-price-list">
							<div class="other-price-one"><a href="#">apartator.ru</a> 18 900 руб./3 суток</div>
							<div class="other-price-one"><a href="#">avito.ru</a> 19 500 руб./3 суток</div>
							<div class="other-price-one"><a href="#">bkd96.ru</a> 20 000 руб./3 суток</div>
						</div>
					</div>
				</div>
			</div>
			<div class="booking-alert">
				На выбранные даты квартира занята
			</div>

			//= calendar.html
			<div class="modal__close"></div>
		</div>
	</div>
</div>

<div class="select-number">
	<form action="" id="">
		<div class="select-number__title">Показать квартиру по номеру</div>
		<div class="select-number-input">
			<input type="text">
		</div>
		<button class="select-number__button">ОК</button>
	</form>
	<div class="select-number__close"></div>
</div>