<div class="wrap">
	<div class="hint">
		<div class="hint__main">Как бронировать	и платить?</div>
		<div class="hint-one">
			<div class="hint-one__title">Выберите квартиру<br>или номер в отеле</div>
			<div class="hint-one__descr"><a href="#">На странице подбора</a><br>или <a href="#">по номеру</a></div>
		</div>
		<div class="hint-one">
			<div class="hint-one__title">Забронируйте<br>выбранный вариант</div>
			<div  class="hint-one__descr">Позвоните нам или закажите<br>обратный звонок</div>
		</div>
		<div class="hint-one">
			<div class="hint-one__title">Оплатите проживание<br>при заселении</div>
			<div  class="hint-one__descr">Наличными все квартиры.<br>Банковской картой<br>или безналичным переводом<br>квартиры со значком</div>
		</div>
		<div class="hint__hide">Убрать подсказку</div>
	</div>
</div>

<div class="wrap">
	<div class="alert alert--success">
		<div class="alert__close"></div>
		<div class="alert-text">
			<h2>Оплата совершена, квартира успешно забронирована!</h2>
			<p>Срок бронирования 05.11.2014 — 09.11.2014</p>
			<p>Заселение 05.11.2014 в 08:00.</p>
		</div>
	</div>
	<div class="alert alert--warning">
		<div class="alert__close"></div>
		<div>
			<h2 class="alert__title">Оплата совершена, квартира успешно забронирована!</h2>
			<p>Срок бронирования 05.11.2014 — 09.11.2014</p>
			<p>Заселение 05.11.2014 в 08:00.</p>
		</div>
	</div>
	<div class="alert alert--danger">
		<div class="alert__close"></div>
		<div class="alert-text">
			<h2>Оплата совершена, квартира успешно забронирована!</h2>
			<p>Срок бронирования 05.11.2014 — 09.11.2014</p>
			<p>Заселение 05.11.2014 в 08:00.</p>
		</div>
	</div>
</div>