<div class="other-card wrap">
	<div class="other-card__title">Похожие квартиры</div>
	<div class="other-card-filtr">
		<div data-filtr="price" class="other-card-filtr__one active">
			<span>по цене</span>
		</div>
		<div data-filtr="district" class="other-card-filtr__one">
			<span>по району</span>
		</div>
		<div data-filtr="properties" class="other-card-filtr__one">
			<span>по свойствам</span>
		</div>
	</div>
	<div class="catalog-list ">
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one__special">2 000 руб./сутки с 12.09 по 15.09</div>
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo ajax_modal">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">1 комната &#8901; <i class="sprite-bad"></i> + <i class="sprite-bad2"></i></div>

                    <div class="catalog-one__price">
                        <div class="catalog-one__old-price">2 500 руб./сутки</div>
                        2 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="Этажи. Свои квартиры" href="#">Рекомендуем</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <div class="catalog-one__bestprice"><span>Лучшая цена</span> в интернете</div>
            <a href="#" class="catalog-one__booking">Забронировать</a>
        </div>
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one__special">5 000 руб./сутки с 12.09 по 15.09</div>
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo ajax_modal">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">2 комнаты &#8901; <i class="sprite-bad2"></i> + <i class="sprite-bad2"></i></div>

                    <div class="catalog-one__price">
                        <div class="catalog-one__old-price">5 500 руб./сутки</div>
                        5 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="Этажи. Свои квартиры" href="#">Рекомендуем</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <a href="#" class="catalog-one__booking">Забронировать</a>
        </div>
        <div class="catalog-one" data-id="4545">
            <div class="catalog-one-image" style="background-image: url(/tmp/catalog-list-photo.jpg);">
                <div class="catalog-one-info">
                    <div class="catalog-one-info__free">Свободно</div>
                    <div class="catalog-one-info__text">Полулюкс, Wi-Fi, кондиционер</div>
                    <a href="#" class="catalog-one-info__photo ajax_modal">20 фото</a>
                </div>
            </div>
            <div class="catalog-one-descr">
                <div class="catalog-one-left">
                    <a href="#" class="catalog-one__title">Библиотечная, 45, Втузгородок</a>
                    <a href="#" class="catalog-one__show">Посмотреть на карте</a>
                    <div class="catalog-one__room">1 комната &#8901; <i class="sprite-bad"></i> + <i class="sprite-bad"></i></div>

                    <div class="catalog-one__price">
                        2 000 <span>руб./сутки</span>
                    </div>
                </div>
                <div class="catalog-one-right">
                    <div class="catalog-one-reviews">
                        <a href="#" class="catalog-one-reviews__top">Очень хорошо 4,2</a>
                        <div class="catalog-one-reviews__bottom">134 отзыва</div>
                    </div>
                    <a class="Этажи. Свои квартиры" href="#">Рекомендуем</a>
                    <div class="catalog-one__nightday">
                        <span>24/7</span>
                        <p>круглосуточное заселение</p>
                    </div>
                </div>
            </div>
            <div class="catalog-one__bestprice"><span>Лучшая цена</span> в интернете</div>
            <a href="#" class="catalog-one__booking">Забронировать</a>
        </div>
    </div>
</div>