<div class="wrap">
	<div class="breadcrumbs">
		<a href="#">Каталог квартир</a> → <a href="#">Центр</a> → Ленина, 48
	</div>
	<div class="card-info">
		<div class="card-info__free">Свободно</div>
		<div class="card-info__text"><b>2 000 руб./сутки</b> с 12.09 по 15.09 </div>
		<div class="card-info__text"><b>24/7</b> круглосуточное заселение </div>
		<div class="card-info__text"><b>Лучшая цена</b> в интернете </div>
		<div class="card-info__recomend">Этажи. Свои квартиры</div>
	</div>
	<h1 class="card-title">Центр, Ленина, 48 — 2-комнатная квартира</h1>
	<div class="card-right">
		<div class="card-id">2295</div>
		<a href="#star-booking"  class="start-booking order-button j-scroll-to">Забронировать</a>
	</div>

	<div class="card-tabs-list">
		<a class="active" href="#">О квартире </a>
		<a href="#">Полезная информация </a>
		<a href="#">Отзывы <span class="card-tabs-list__recall">4,3</span></a>
	</div>
</div>	